# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
.factorypath
log/

# VS Code
.vscode/

# Program Files
*.o
*.elf
*.c#

# System Files
~*

# Pycharm
src/controllers/splunk/__pycache__/
src/models/__pycache__/
src/views/__pycache__/